.sidebarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.sidebarFriendName {
  margin-top: 5px;
}
.sidebarFriend {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
